

    .slider {width: 100%; margin: 100px auto; text-align: center;}
    .slick-slide {margin: 0px 10px;}
    .slick-slide img {width: 100%;}

    .slick-slide {transition: all ease-in-out 1s; opacity: 1;}
    .slick-active {opacity: 1;}
    .slick-current {opacity: 1;}
	
	/*이동버튼 꾸미기*/
	.slick-prev, .slick-next{width:27px; height:50px;}
	
	.slick-prev{background:url(../image/prev.png) no-repeat; left:-40px; top:210px;}
	.slick-prev:hover{background:url(../image/prev_hover.png) no-repeat;}

	.slick-next{background:url(../image/next.png) no-repeat; right:-40px; top:210px;}
	.slick-next:hover{background:url(../image/next_hover.png) no-repeat;}
	
	/*블릿버튼 꾸미기*/
	 .slick-dots li button:before{content:''; }
	.slick-dots li button{width:10px; height:10px; padding:0; background:pink; border-radius:50%; opacity: 0; display: none;}
	.slick-dots li.slick-active button{background:pink;opacity:0; display: none;} 
